<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
{% include echo-locale.html %}
<head>
    {% include head.html %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(document).ready(function() {
            $("#tg-sb-link").click(function() {
                $("#tg-sb-sidebar").toggle();
                $("#tg-sb-content").toggleClass('col-md-9');
                $("#tg-sb-content").toggleClass('col-md-12');
                $("#tg-sb-icon").toggleClass('fa-toggle-on');
                $("#tg-sb-icon").toggleClass('fa-toggle-off');
            });
        });
    </script>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              paging: true,
              stateSave: true,
              searching: true
          });
       });
    </script>
    {% endif %}

</head>
<body class="echo-subpage">
<a class="skip-link" href="#main">{{ t.skip }}</a>
{% include echo-nav.html home_prefix="index.html" %}
<div class="doc-shell {% if page.hide_sidebar %}doc-shell-wide{% endif %}">
  {% unless page.hide_sidebar %}
  <aside class="doc-sidebar" aria-label="{{ t.sections_label }}">{% include echo-sidebar.html %}</aside>
  {% endunless %}
  <main id="main" class="doc-main">
    <div class="doc-breadcrumb"><a href="{{ locale_prefix }}index.html">ACE-Echo</a><span aria-hidden="true">/</span>{% assign section_key = page.section | default: page.folder | default: 'Explore' %}{{ t.sections[section_key] | default: section_key }}</div>
    {{ content }}
  </main>
</div>
{% include echo-footer.html %}
</body>
</html>
